<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
    <dict>
    	<key>hu.softdekor.travistest</key>
        <string>4ac7b272-e349-4942-9cde-09b8adf1aec5</string>
    </dict>
    <key>signingCertificate</key>
    <string>iPhone Developer: Tibor Gore (5666T4K54G)</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>MS7GE5K8QT</string>
</dict>
</plist>